
body {
    background-color: #e6e1e1;
    color: black;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#ff1 {
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
    justify-items: center;
    
}

.grid-item img {
    width: 100%;
    height: auto;
}