
body {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80vw;
    height: 70vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#logo img {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-shadow: 0 2px 1px rgba(233, 16, 16, 0.4);
}

#menu {
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 10px;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    margin: 15px;
    background-color: rgb(7, 82, 147);
    padding: 5px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

#menu ul li:hover {
    margin: 10px;
    background-color: rgb(234, 5, 207);
    color: white;
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
}

#content img {
    width: 100%;
    height: 55%;
    object-fit: cover;
}