
body {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80vw;
    background-color: white;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#logo img {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-shadow: 0 2px 1px rgba(233, 16, 16, 0.4);
}

#menu {
    background-color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

#menu ul {
    list-style: none;
    margin: 15px;
    padding: 0;
}

#menu ul li {
    margin: 5px;
    background-color: rgb(7, 82, 147);
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#menu ul li:hover {
    margin: 10px;
    background-color: rgb(234, 5, 207);
    color: white;
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
}

#content img {
    width: 100%;
    height: 55%;
    object-fit: cover;
}

#content p {
    text-align: justify;
}


#content .social-icons {
    display: flex;
    width: 60vw;
    justify-content: center;
    margin-top: 15px;
}

.social-icons .link {
    height: 32px;
    width: 32px;
    background-color: #4070f4;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}

#facebook{
    background-color: #3b5998;
}

#twitter{
    background-color: #1da1f2;
}

#instagram{
    background-color: #e1306c;
}

#youtube{
    background-color: #ff0000;
}