
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
    align-content: center;
    background-color: rgb(183, 222, 232);
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-radius: 8px;
}

.grid-item img{
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}

.grid-item img:hover {
    transform: scale(1.3) rotate(360deg);
    transition: all 0.3s ease;
}

.grid-item button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    border: 1px solid #0456ae;
    cursor: pointer;
}

.grid-item button:hover {
    background-color: #0456ae;
    transform: scale(1.1);
    transition: all 0.3s ease;   
}

.grid-item .stock {
    color: #07b11e;
}